<body>

  <form id="formUserName" (ngSubmit)="onSubmit()" class="p-8 rounded-xl bg-white w-[405px] flex flex-col gap-4 shadow-md border-1 border-gray-200">
    <input name="userCredentials" id="userCredentials" placeholder="Introduce  nombre de usuario o correo electrónico" required
      class="input w-full border placeholder:text-gray-400" />
    <button class="btn" type="submit">Enviar</button>
    <a [routerLink]="['/login']" class="text-center hover:text-zinc-500">Volver</a>

  </form>

  <div id="otp" tabindex="0" class="mt-6 p-8 rounded-xl bg-white w-[405px] hidden flex-col gap-4 shadow-md border-1 border-gray-200">
    <h3 class="text-center font-bold">Introduce el código que has recibido en tu correo.</h3>
    <p-inputOtp [(ngModel)]="otpValue" [length]="6" [integerOnly]="true" [disabled]="false"
      (ngModelChange)="onOtpChange($event)" class="flex w-full justify-between gap-2"></p-inputOtp>
  </div>

  <div id="passChanger" class="mt-10 p-8 rounded-xl bg-white w-[405px] hidden flex-col items-center gap-4 shadow-md border-1 border-gray-200">

    <div>
      <p-password [(ngModel)]="passwordValue" class="password" [toggleMask]="true" />
    </div>

    <div>
      <p-password class="password" feedback="false" [toggleMask]="true" [ngClass]="{
          'ng-invalid ng-dirty':
            confirmPasswordTouched && passwordValue !== confirmPasswordValue
        }" [(ngModel)]="confirmPasswordValue" (onFocus)="confirmPasswordTouched = true" />
      <p>
        <small [ngClass]="{
            block: confirmPasswordTouched,
            hidden: !confirmPasswordTouched
          }">
          <span *ngIf="
              confirmPasswordTouched && passwordValue !== confirmPasswordValue
            " class="text-red-500 block">Las contraseñas no coinciden</span>
        </small>
      </p>

    </div>

    <div  class="w-full flex flex-col gap-2">

      <button class="btn" type="submit" (click)="changePassword()"
        [disabled]="(!passwordValue || !confirmPasswordValue) || (confirmPasswordTouched && passwordValue !== confirmPasswordValue)">
        Enviar
      </button>
      <a [routerLink]="['/login']" class="text-center hover:text-zinc-500">Cancelar</a>

    </div>

  </div>

</body>