<div class="overflow-x-auto">
  <table class="table">
    <!-- head -->
    <thead>
      <tr>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <!-- row 1 -->
      <tr class="">
        <td>
          <h2>Tema de la aplicación</h2>
        </td>
        <td>
          <select
            name=""
            id=""
            class="select bg-base-300 border-2 border-primary outline-0 rounded-md"
          >
            <option value="" selected disabled>Selecciona un tema</option>
            <option value="">Claro</option>
            <option value="">Oscuro</option>
          </select>
        </td>
      </tr>
      <!-- row 1 -->
      <tr class="">
        <td>
          <h2>Idioma de la aplicación</h2>
        </td>
        <td>
          <select
            name=""
            id=""
            class="select bg-base-300 border-2 border-primary outline-0 rounded-md"
          >
            <option value="" selected disabled>Selecciona un idioma</option>
            <option value="">Español</option>
            <option value="">Valenciano</option>
            <option value="">Inglés</option>
          </select>
        </td>
      </tr>
    </tbody>
  </table>
</div>
