<div id="content" class="main-container">
  <app-aside class="aside"></app-aside>
  <div class="main-content blurbg">
    <router-outlet></router-outlet>
  </div>

  <!-- <div
  id="content"
  class="bg-base-300 text-base-content relative overflow-hidden h-full"
>
  <div id="main-content" class="flex gap-2 h-full m-4 mb-2">
    <app-aside
      class="glass shadow-[0px_0px_4px_0px_rgba(0,_0,_0,_0.3)] border-1 border-gray-200 h-full p-2 py-4 rounded-xl bg-base-content"
      style="display: flex"
    ></app-aside>

    <div
      class="main-container w-full block h-full rounded-xl shadow-[0px_0px_4px_0px_rgba(0,_0,_0,_0.3)] border-1 border-gray-200 p-2 bg-base-content glass overflow-y-auto"
    >
      <router-outlet></router-outlet>
    </div>
  </div>

  <footer
    class="m-4 mt-0 rounded-xl shadow-[0px_0px_4px_0px_rgba(0,_0,_0,_0.3)] border-1 border-gray-200 bg-base-content glass"
  >
    <app-footer></app-footer>
  </footer>
 -->
</div>
